# Ignore standard files
*.log
*.xref
*.cache
!.github
# User-specific files
*.suo
*.user

!readme.md

# Build results
[Dd]ebug/
[Dd]ebugPublic/
[Rr]elease/
[Rr]eleases/
x64/
x86/
bld/
/Projects/**/[Bb]in/
[Oo]bj/
[Ll]og/

# Visual Studio cache/options directory
.vs/

# NOT github workflow
!.github/
!.FSC-PS/

# MSTest test Results
[Tt]est[Rr]esult*/
[Bb]uild[Ll]og.*

# NUNIT
*.VisualState.xml
TestResult.xml

# TFS 2012 Local Workspace
$tf/

# Visual Studio code coverage results
*.coverage
*.coveragexml

# NuGet Packages
*.nupkg
# The packages folder can be ignored because of Package Restore
**/packages/*
# except build/, which is used as an MSBuild target.
!**/packages/build/
# Uncomment if necessary however generally it will be regenerated when needed
#!**/packages/repositories.config
# NuGet v3's project.json files produces more ignorable files
*.nuget.props
*.nuget.targets
# Ignore AosService standard folders
/**/ClickOncePackageDirectory
/**/DeltaSync
/**/WebRoot

# Metadata folders
/**/XppMetadata
/**/Reports
/**/Resources
/**/GeneratedXppSource

# BuildArtifacts
BuildModelResult.xml
BuildModelResult.err.xml
BuildProjectResult.xml
BuildProjectResult.err.xml
CompileLabels.xml
DBSynchronization.xml

# Standard Models
/**/AccountsPayableMobile
/**/ApplicationCommon
/**/ApplicationFoundation
/**/ApplicationFoundationFormAdaptor
/**/ApplicationPlatform
/**/ApplicationPlatformFormAdaptor
/**/ApplicationSuite
/**/ApplicationSuiteFormAdaptor
/**/ApplicationWorkspaces
/**/ApplicationWorkspacesFormAdaptor
/**/AppTroubleshooting
/**/AppTroubleshootingCore
/**/ArchiveService
/**/AssetLeasing
/**/ATLApplicationSuite
/**/AtlCoreFinancial
/**/AtlCostAccounting
/**/AtlFoundation
/**/AtlMaterialhandling
/**/AtlPersonnel
/**/AtlSampleTests
/**/ATLTestCaseCommon
/**/BankTypes
/**/BenefitsManagement
/**/bin
/**/Bundle
/**/BusinessIntelligence
/**/BusinessProcess
/**/Calendar
/**/CaseManagement
/**/CDSVirtualEntity
/**/CommunityDrivenEngineeringTests
/**/ContactPerson
/**/Contoso
/**/ContosoExtension
/**/ContosoTestEssentials
/**/CostAccounting
/**/CostAccountingAX
/**/CostAccountingService
/**/CreditManagement
/**/Currency
/**/CustomFields
/**/DataExpansionTool
/**/DataFeeds
/**/DataImpExpApplication
/**/DataMaintenance
/**/DataMaintenanceTypes
/**/DataSharing
/**/DataStack
/**/DataUpgrade
/**/DataUpgradePlatform
/**/DemoDataSuite
/**/DemoDataWellKnownValues
/**/Dimensions
/**/Directory
/**/DirectoryUpgrade
/**/DOM
/**/ElectronicReporting
/**/ElectronicReportingAppSuiteIntegration
/**/ElectronicReportingBusinessDoc
/**/ElectronicReportingCore
/**/ElectronicReportingDotNetUtils
/**/ElectronicReportingForAx
/**/ElectronicReportingForRetail
/**/ElectronicReportingInternal
/**/ElectronicReportingMapping
/**/EngineeringChangeManagement
/**/EntAssetManufacturingExecution
/**/EntAssetManufacturingExecutionBackoffice
/**/EntAssetManufacturingExecutionInterface
/**/EnterpriseAssetManagementAppSuite
/**/EnterpriseAssetManagementIot
/**/EnterpriseAssetManagementMobile
/**/ExpenseManagement
/**/ExpenseMobile
/**/ExportControl
/**/FinanceInsightsContracts
/**/FinancialDimensionService
/**/FinancialReporting
/**/FinancialReportingEntityStore
/**/FinTag
/**/FiscalBooks
/**/FiscalBooksFormAdaptor
/**/FleetManagement
/**/FleetManagementExtension
/**/FleetManagementUnitTests
/**/GeneralLedger
/**/GeneralLedgerFormAdaptor
/**/GlobalizationLTM
/**/GlobalUnifiedPricing
/**/HRPlatform
/**/InboundTransportationManagement
/**/InstallationRecords
/**/InventoryDimensionConversion
/**/IoTIntelligenceCore
/**/IoTIntelligenceManufacturing
/**/Kitting
/**/Leave
/**/Ledger
/**/ManufacturingExecution
/**/ManufacturingExecutionBackoffice
/**/ManufacturingExecutionCommon
/**/ManufacturingExecutionInterface
/**/ManufacturingExecutionThirdParty
/**/MasterPlanningService
/**/MaterialHandlingEquipmentInterface
/**/Measurement
/**/MessageProcessor
/**/MetadataExport
/**/Microservices
/**/MixedRealityCore
/**/MixedRealityManufacturing
/**/MonitoringAndTelemetry
/**/OperationalInsights
/**/PaymentPredictor
/**/Personnel
/**/PersonnelBusinessProcess
/**/PersonnelCore
/**/PersonnelManagement
/**/PersonnelMobile
/**/PersonnelUpgrade
/**/Plugins
/**/Policy
/**/ProcessAutomation
/**/ProcessGuide
/**/Project
/**/ProjectMobile
/**/ProjectOperations
/**/PublicSector
/**/PublicSectorFormAdaptor
/**/RebatesAndDeductions
/**/Recruitment
/**/RegulatoryServices
/**/Retail
/**/RetailEod
/**/RetailFormAdaptor
/**/RetailTeamsIntegration
/**/RevenueRecognition
/**/ScaleUnitDatapipeline
/**/ScaleUnitManagement
/**/SCMInsights
/**/SCMMobile
/**/SelfHealing
/**/SelfHealingRules
/**/SourceDocumentation
/**/SourceDocumentationTypes
/**/StaticMetadata
/**/Subledger
/**/SubscriptionBilling
/**/SupplyChainPlanning
/**/SystemHealth
/**/Tax
/**/TaxEngine
/**/TestEssentials
/**/TestResults
/**/TimesheetMobile
/**/Tutorial
/**/UnitOfMeasure
/**/WarehouseExecutionWorkload
/**/WarehouseExecutionWorkloadBackoffice
/**/WarehousePlanning
/**/WHSAppTaskValidator
/**/WHSTests
/**/WMSAdvancedMigration
/**/WorkloadCommon